/* 
==============================================
CONTENT:	travelfolio
AUTHOR:		Gunnar Normand
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {	
    background: url("https://unsplash.it/1800/1200/?random")no-repeat center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	max-height: 100vh;
}

/* 2. Content ================================= */


@import '../mdbootstrap/sass/mdb';


select {
    margin-bottom: 20px;
}

a {
    color: #717580 !important;

    &:hover {
        color: rgba(103, 58, 183, 0.8) !important;
    }
}

.deep-purple {
    // background-color: #717580 !important;
    background: linear-gradient(90deg, rgba(103, 58, 183, 0.8), transparent), 
                linear-gradient(0deg, rgba(255,255,255, 0.8), transparent), 
                linear-gradient(-90deg, rgba(103, 58, 183, 0.8), transparent)!important;
    background-blend-mode: screen!important;
}

.modal-header {
    border-bottom: 0 !important;
}

.btn-primary {
    background: rgba(103, 58, 183, .8) !important;
    color: rgba(255, 255, 255, 0.8) !important;

    &:hover {
        background: rgba(103, 58, 183, 0.6) !important;
    }
}

.btn-secondary {
    background: rgba(103, 58, 183, .8) !important;
    color: rgba(255, 255, 255, 0.8) !important;

    &:hover {
        background: #717580 !important;
    }
}

.md-form .prefix.active {
    color: rgba(103, 58, 183, 0.8) !important;
}

.btn-primary.active {
    background-color: rgba(103, 58, 183, 0.6) !important;
}

// Text inputs
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
input[type=search],
textarea.md-textarea {

    // Focused input style
    &:focus:not([readonly]) {
        border-bottom: 1px solid rgba(103, 58, 183, 0.8) !important;
        box-shadow: 0 1px 0 0 rgba(103, 58, 183, 0.8) !important;
    }
    // Focused label style
    &:focus:not([readonly])+label {
        color: rgba(103, 58, 183, 0.8) !important;
    }
    // Valid Input Style
    &.valid,
    &:focus.valid {
        border-bottom: 1px solid rgba(103, 58, 183, 0.8) !important;
        box-shadow: 0 1px 0 0 $input-success-color;
    }
    // Custom Success Message
    &.valid + label:after,
    &:focus.valid + label:after {
        content: attr(data-success);
        color: rgba(103, 58, 183, 0.8) !important;
        opacity: 1;
    }
}

select {
    width: 100%;
    font-size: 1rem;
    height: (1rem * 1.6);
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
    color: #757575;
}

.control-label {
    position: absolute;
    bottom: 1.25rem;
    pointer-events: none;
    padding-left: 1rem / 8;
    z-index: 1;
    color: rgba(103, 58, 183, 0.8) !important;
    font-size: 1rem;
    font-weight: normal;

    font-weight:300;
    font-size:0.75rem;
}

.bar {
    position: relative;
    border-bottom: 1px solid #ccc !important;
    display: block;
    margin-bottom: 1rem;
}

